        .cursor-pointer {
            cursor: pointer;
        }
        
        #chat-container {
            background-color: aquamarine;
            height: 400px;
            width: 100%;
            overflow-y: scroll
        }
        
        .chat-section {
            display: none
        }
        .offline-status{
            color:red
        }
        .online-status{
            color:green
        }
        .group-chat-header{
            background: #7070df;
            padding: 5px 10px;
            /* margin-bottom: 10px; */
            color: white;
            font-weight: bold;
            text-shadow: 1px 2px 2px rgba(0,0,0,0.2);
        }
        .group-chat-sender{
            text-align: right;
            margin: 10px
            
        }
        .group-chat-receiver{
            padding: 5px 10px;
            text-align: left;
            background: #c9bebe26;
            margin: 10px;
            width: fit-content;
            border-radius: 10px;
        }
        
        .user-select{
            color: blue;
            background-color: bisque
        }
        .chat-color{
            color: blue;
            font-size: 20px;
            /* background-color: bisque */
        }
        .fa-trash{
            color:red;
        }
          
        #group-chat-container {
            /* background-color: aquamarine; */
            height: 400px;
            width: 100%;
            overflow-y: auto
        }
        
        .group-chat-section {
            display: none;
            border: 1px solid #ccc;
            padding: 2px;
            margin-bottom: 100px;
        }
        #message-send-section{
            height:20px;
            margin: 10px 0px;
            padding-top: 5px;
            margin-top: 60px;
        }
        #message{
            width: 80%;
            height: 40px;
            margin-bottom: 50px;
            padding: 4px;
            border:0 25px 0 25px;
            border-color: aliceblue;
            color: black;
        }
        #send_message{
            width: 60px;
            color:blue;
            background-color: #7070df;
        }