.cursor-pointer {
    cursor: pointer;
}

#chat-container {
    height: 400px;
    width: 100%;
    overflow-y: auto
}

.chat-section {
    display: none;
    border: 1px solid #ccc;
    padding: 2px;
    margin-bottom: 100px;
}
.offline-status{
    color:red
}
.online-status{
    color:green
}
.group-chat-header{
    background: #7070df;
    padding: 5px 10px;
    /* margin-bottom: 10px; */
    color: white;
    font-weight: bold;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.2);

}
.chat-sender{
    /* text-align: right;
    margin: 10px */
    margin: 10px;

    display: flex;
    justify-content: flex-end;

}
.chat-receiver{
    padding: 5px 10px;
    text-align: left;
    background:rgb(196, 200, 200);
    margin: 10px;
    width: fit-content;
    border-radius: 10px;
}


                /* group chat  */

/* .chat-main-view{
    padding: 40px;
    display: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    margin-left: 80px;
    font-family: cursive;
} */
.group-chat-sender{
    
    margin: 10px;

    display: flex;
    justify-content: flex-end;
}

.group-chat-sender-file{

    margin: 10px;

    display: flex;
    justify-content: flex-end;



}
.group-chat-receiver{
    padding: 5px 10px;
    text-align: left;
    background:rgb(196, 200, 200);
    margin: 10px;
    width: fit-content;
    border-radius: 10px;
}

.user-select{
    color: blue;
    background-color: bisque
}
.chat-color{
    color: blue;
    font-size: 20px;
    /* background-color: bisque */
}
.fa-trash{
    color:red;
}

#group-chat-container {
    /* background-color: aquamarine; */
    height: 400px;
    width: 100%;
    overflow-y: auto
}

.group-chat-section {
    display: none;
    border: 1px solid #ccc;
    padding: 10px 0px 2px 5px;
width: 100%;
    /* margin-bottom: 100px; */
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}
.input-group {
    display: flex;
    align-items: center;
  }

  .form-control {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .btn-send {
    margin-left: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color:black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  /* chat date style of group  */
  .date_chat-user{
      font-size: 10px;
      color: rgb(140, 140, 158);
  }


.div_second_sender{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background:rgb(196, 200, 200);;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    padding: 5px;
    border-radius: 5px;
}
/* for file in chat  */

/* for file or message  */
#message-send-section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.upload-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-label {
    cursor: pointer;
    background-color: #f0f2f5;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-label i {
    font-size: 20px;
}

.upload-label span {
    margin-left: 5px;
}

.upload-input {
    display: none;
}

.message-form {
    flex-grow: 1;
}

.btn-send {
    background-color: #0084ff;
    color: #fff;
    border: none;
}

.btn-send i {
    margin-right: 5px;
}
/* message view */
.input-group{
    background-color: #e7e8f3;
    padding: 10px 2px;
    border-radius: 2%;
}
.input-group:hover{
    background-color: #606064;
}
#message{
    background-color: #e7e8f3;
}
.upload-label{
    background-color: #e7e8f3;
    position: relative;
    margin-top: 8px;
}
.fa-paper-plane{
    background-color: #0084ff;
}
#send_message{
    background-color: #0084ff;
    padding: 10px;

}

/* search  */
input{
    background-color: rgb(158, 141, 141);
    padding: 5px;
    width: 400px;
    height: 40px;

}

/* message send user profile */
.message_send{
    background-color: #007bff;
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 20px;
    margin-left: 30px;


}

/* view file before send \ */
#fileDiv{
    display: flex;

}

/* display send file group_chat */
#file_send_group{
    background-color: rgb(238, 178, 101);
    margin-top: 10px;
}
.file_group_chat_delete:hover{
    cursor: pointer;
}
.fa-trash:hover{
    cursor: pointer;
}


/* group owner show
 */
 #owner_profile{
     background-color: antiquewhite;
     height: 150px;
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     font-family: sans-serif;
     box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.4);


 }
 #text{

     margin-top: 25px;
     margin-left: 20px;


 }
 #owner_name{
     margin-bottom: 80px;
     font-family: cursive;
     margin-left: 20px;

 }
 #owner_profile img{
     /* margin-bottom: 40px; */
     position: absolute;
     margin-top:-160px;
     margin-left: 200px;
     margin-bottom: 25px;
     font-size: 50px;
     width: 150px;
     height: 140px;
     box-sizing: border-box;

 }
/* group member show */
#img-view-memberOnly{
height: 50px;
width: 100px;
border-radius: 10px;
box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
margin: 3px 0px;
}
#group_member{
text-decoration: none;
color: black;
}
.memberShow{
    height: auto;
width: 100%;
display: flex;
}

  /* friend profile display chat and info */

  #profile_image_display{
    height: 250px;
    width: 90%;
}
.profile_info{
    height: 500px;
    width: 400px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    border-radius: 5px;


}
.user_profile_key{
   font-size: 20px;
   font-family: cursive;
}
.value_user_profile{
   color: black;
   font-family: sans-serif;
   font-size: 22px;
}
.info_user{
   background-color: antiquewhite;
   box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
   padding: 5px;
}
.message_send_user{
   text-align: center;
   padding: 4px;
   color:white;
   background-color: rgb(52, 64, 241);
   margin-top: 5px;
   cursor: pointer;
   transition-delay: 2500ms;
}
.chat-section_user_message{
   padding: 4px;
   border-radius: 5px;
   box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
   display: none;
   margin-left: 80px;
   font-family: cursive;
}




